body {
    background: #000 url(https://phonoteka.org/uploads/posts/2021-03/1616695309_19-p-svetlo-bezhevii-fon-odnotonnii-24.jpg);
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    background-color: #fed038;
}

.header {
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

ul.without_dots {
    list-style-type: none;
}

image:hover {
    outline: solid black 1px;
   }
    
li {
    list-style-type: none;
   }

ul {
    margin-right: 0;
    padding-right: 0;
   }

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }

footer {
    clear: left;
    width: 100%;
    height: 30px;
    background: #486BDB;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}

header {
    position: fixed;
    z-index:: 5px;
    width: 100%;
    height: 50px;
    background: #486BDB;
    left: 0px;
    top: 0px;
    box-shadow: 0 2px 5px #5E5E5E;
}
header {
   background: none; -> color: #f7f6b0;
   border-bottom: 0px solid #000;
}
