body {
    background: #000 url(https://phonoteka.org/uploads/posts/2021-03/1616695309_19-p-svetlo-bezhevii-fon-odnotonnii-24.jpg);
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    background-color: #fed038;
}

.header {
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

ul.without_dots {
    list-style-type: none;
}

image:hover {
    outline: solid black 1px;
   }
    
li {
    list-style-type: none;
   }

ul {
    margin-right: 0;
    padding-right: 0;
   }

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
